<ul class="comments text-left">
  <% require 'date' %>
  <% date = Date.today %>
  <% weeks = ["月","火","水","木","金","土","日"] %>
  <% index = date.strftime("%u").to_i %>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <p>名前：<%= comment.name %>：<%= comment.created_at.strftime("%Y年%-m月%-d日 #{weeks[index - 1]}曜日 %-H時%-M分") %> </p>
        <p><%= comment.content %></p>
      </li>
    <% end %>
  <% end %>
</ul>
