<div class="text-center">
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <h1 class="display-3">５ちゃんねる</h1>
      </div>
  </div>
  <p id="notice"><%= notice %></p>

<div class="row">

  <div class="flex-column col-md-2">
    <ul class="side_menu flex-column nav nav-pills nav-stacked">
      <li><a href="#">ダッシュボード</a></li>
      <li><a href="#">サーバー１</a></li>
      <li><a href="#">サーバー２</a></li>
      <li><a href="#">サーバー３</a></li>
    </ul>
  </div>

    <div class="col-xs-9 offset-md-1" style="width: 60%;">
      <table class="bg-white text-center table table-bordered mb-0 mt-3">
        <tbody>
          <% @posts.each do |post| %>
          <tr style="border: 2px solid #d2d2d2;">
            <td scope="row">
              <div class="pl-5">
                <%= link_to post,class: "event_link" do %>
                  <h4><%= post.title.truncate(20) %><span class="ml-3 h6"></span></h4>

                  <%# レスの検索材料 %>
                  <% if post.comments.present? %>
                    <% post.comments.each do |comment| %>
                      <% comment %>
                    <% end %>
                  <% end %>

                <% end %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



<br>

<div class="paginate" id="event_list" >
  <%# <%= paginate @posts %>
</div>
