<div class="text-center">
  <div class="container">

    <br>
    <h2>検索結果</h2>
    <table id="event_list" >
      <thead>
        <tr>
          <th>タイトル</th>
          <th>コンテンツ</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
          <td><%= link_to '詳細', post ,class: "btn btn-outline-secondary"%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to '戻る', posts_path,class: "btn btn-outline-secondary" %>
  </div>
</div>
